<section id="intro">
  <div class="container text-center">
    <div class="row" >
      <div class="col-sm-10 col-sm-offset-1">
        <dl class="palette palette-emerald rounded" id="greeting">
          <dt>
            <h1>Hi Tim</h1>
          </dt>
          <dd>
            <img src ="img/yourock.jpg" id="yourock">
          </dd>
        </dl>
        <div class="tagline">
          <h3>All the best overseas!</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="holiday">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <dl class="palette holiday palette-sun-flower">
          <dt>
            <img class="holiday-img" src="/img/thanksgiving.png">
          </dt>
          <dd>
            <h4>Happy<br>Thanksgiving</h4>
          </dd>
        </dl>
      </div>

      <div class="col-sm-4">
        <dl class="palette holiday palette-carrot">
          <dt>
            <img class="holiday-img" src="/img/christmas.png">
          </dt>
          <dd>
            <h4>Merry<br>Christmas</h4>
          </dd>
        </dl>
      </div>

      <div class="col-sm-4">
        <dl class="palette holiday palette-alizarin">
          <dt>
            <img class="holiday-img" src="/img/newyear.png">
          </dt>
          <dd>
            <h4>Happy<br>New Year</h4>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
