body {
  background-color: #3498db;
}

h3 {
  margin-top: 15px;
}

img {
  margin: auto;
}

.holiday {
  padding-bottom: 5px;
}

.holiday-img {
  height: 150px;
  width: 150px;
}

#greeting {
  padding-top: 0;
}

@media screen and (max-width: 500px) {
  section#holiday div.col-sm-4 {
    margin-bottom: 15px;
  }

  img#yourock {
    width: 100%;
  }
}
